@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@mixin roundedevenly{
  border-radius: 25px;
  padding: 20px;

}
// border-radius: 25 25 25 25 for the four corners