@import "colors";
@import "positioning"; //Trying to import the mixin file

.box{
    @include center;
    position: absolute;
    background-color: $backgroundprimary;
}
form{
    position: absolute;
    top:60%;
    left:50%;
  }