@import "colors";
@import "positioning"; //Trying to import the mixin file

.box{
    @include center;
    @include roundedevenly;
    background-color: $backgroundprimary;
    border: 1px solid $bordercolor;
}
.display{
    border: 1px solid black;
    background-color: antiquewhite;
}
footer{
    display: block;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}